[submodule "android"]
	path = android
	url = https://github.com/uber-common/android-build-eval
	shallow = true
[submodule "ios"]
	path = ios
	url = https://github.com/TelegramMessenger/Telegram-iOS
	shallow = true
[submodule "ios_tuist"]
	path = ios_tuist
	url = https://github.com/stripe/stripe-ios.git
	shallow = true
